<table>
	<tbody>
		<tr class="tb-text-center">
			<td><a ng-click="incrementHours()" class="tb-btn tb-btn-link"><span class="tb-glyphicon tb-glyphicon-chevron-up"></span></a></td>
			<td>&nbsp;</td>
			<td><a ng-click="incrementMinutes()" class="tb-btn tb-btn-link"><span class="tb-glyphicon tb-glyphicon-chevron-up"></span></a></td>
			<td ng-show="showMeridian"></td>
		</tr>
		<tr>
			<td style="width:50px;" class="tb-form-group" ng-class="{'tb-has-error': invalidHours}">
				<input type="text" ng-model="hours" ng-change="updateHours()" class="tb-form-control tb-text-center" ng-mousewheel="incrementHours()" ng-readonly="readonlyInput" maxlength="2">
			</td>
			<td>:</td>
			<td style="width:50px;" class="tb-form-group" ng-class="{'tb-has-error': invalidMinutes}">
				<input type="text" ng-model="minutes" ng-change="updateMinutes()" class="tb-form-control tb-text-center" ng-readonly="readonlyInput" maxlength="2">
			</td>
			<td ng-show="showMeridian"><button type="button" class="tb-btn tb-btn-default tb-text-center" ng-click="toggleMeridian()">{{meridian}}</button></td>
		</tr>
		<tr class="tb-text-center">
			<td><a ng-click="decrementHours()" class="tb-btn tb-btn-link"><span class="tb-glyphicon tb-glyphicon-chevron-down"></span></a></td>
			<td>&nbsp;</td>
			<td><a ng-click="decrementMinutes()" class="tb-btn tb-btn-link"><span class="tb-glyphicon tb-glyphicon-chevron-down"></span></a></td>
			<td ng-show="showMeridian"></td>
		</tr>
	</tbody>
</table>
